@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-login{
  background-image: url("https://img.freepik.com/foto-gratis/feliz-apreton-manos-candidato-masculino-gerente-despues-exitosa-entrevista-trabajo-oficina_637285-6558.jpg?t=st=1720030207~exp=1720033807~hmac=680737ee437d1ef8636aabed8a1199856467d45e59084b715fcc980eaf5ffe26&w=1380");
  background-size: cover;
  background-position: center;
}